
#arena {
    background-image: url('images/field.jpg');
    width: 1000px;
    height: 625px;
    border: black solid 1px;
    position: absolute;
    
}

.ball {
    width: 20px;
    height: 20px;
    
    background-image: url('images/ball.png');
    background-size: contain;
    background-repeat: no-repeat;
    
    position: absolute;

}

.paddle {
    width: 80px;
    height: 80px;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
}

.left {
    background-image: url('images/player1.png');

}

.right {
    background-image: url('images/player2.png');

}